@import "../../scss/index.scss";

.top {
  background-color: $background-color-dark;
  padding-top: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 10px 15px;

  .menu-toggle {
    padding-left: 10px;

    i {
      background-color: $background-color;
      color: #fff;

      &:hover {
        background-color: $primary-color-hover;
        color: black;
        transition: 0.3s;
      }
      &:active {
        background-color: $primary-color-active;
        color: #fff;
        transition: 0.1s;
      }
    }
  }

  .c-panel {
    .ui.button {
      border-radius: 50px;
      color: black;
      text-transform: uppercase;
      letter-spacing: 1px;

      background: $primary-color;
      transition: 0.3s;
      &:hover {
        background-color: $primary-color-hover;
        transition: 0.3s;
      }
      &:active {
        background-color: $primary-color-active;
        color: #fff;
      }
    }
  }
}
